body {
    background-color: #e4bcac;
    color: #2b1619;
    font-family: Georgia, "Times New Roman";
    font-size: 1rem;
    
}

h1 {
font-size: 2rem;
text-align: center;
}

#index-h2 {
    font-size: 2rem;
    text-align: center;
    padding: 0 3vw 0 7vw;
    }
    

#index-fieldset-1
{
    text-align: center;
   border-radius:60% 20% / 10% 30%;
    padding: 5vw;
    box-sizing: content-box;
}

#index-fieldset-2
{
    text-align: center;
    border-radius:30% 30% / 5% 5%;
    padding: 5vw;
    box-sizing: content-box;
}


#index-button {
    background-color: #f9e2d7;
    box-shadow: 3px 3px 5px 0px   #624a4a;
    display: inline-block;
    min-width: 100px !important;
box-sizing: content-box;
}

.index-button-2 {
    min-height: 100px !important;
}


#img-index{
  Height: 30vw;
  width: auto;
    margin: auto auto;
    display: block;
    border: outset #785354;
    border-radius: 50% 20% / 10% 40%;
}

#bot-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35vw;
    min-height: 250px;
    width: 60vw;
    min-width: 400px;
}

#questionary-fieldset {
    border-radius: 10px;
    width: 10vw;
    margin: 0 auto;
}


form {
    width: 80vw;
    max-width: 800px;
  /*min-width: 300px;*/
  margin: 0 auto;
  padding-bottom: 2em;
    
}
h1, p  {
    text-align: center;}

p {
font-size: 1.5rem;
    }

.horiz-image  {
    margin: auto auto;
display: block;
border: outset #785354;
border-radius: 50% 20% / 10% 40%;
width: 80vw;

}

input {
    margin: 0.5rem auto;
    width: 100%; 
    background-color: #f9e2d7;
    border-radius: 30px;
   
}

label {
    display: inline-block;
    margin: 0.5rem 0;
    /*content box new addition may not work*/
    box-sizing: content-box;
  }

.brackets {
    text-align:left;
margin: -2 0;
}

fieldset {
    margin: 3vw 2vw;
    border: outset  #b47877;
    background-color: #f9e2d7;
    width: 80%;
}

textarea {
    width: 80%;
    border: outset #785354;
    background-color: #f9e2d7;
    border-radius: 10px 100px / 120px;
}

input[type=reset] {
    width: 15rem;
}

#number-label {
    margin-bottom: 3vw;
}

/*comfortable gym*/
.container {
    width: 100%;
    min-height: 10vh;
    max-height: 500px;
    background:   #f9e2d7;
    color: #2b1619;
    display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
border: solid 0px;
box-shadow: 0 0 5px 3px #624a4a;
}



#left, #right, #right1, #left1 {
    width: 35vw;
    min-height: 300px;
    max-height: 490px;
    min-width: 100px;
    border: 2px dashed white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   align-items: center;
   justify-content: center;


}

.gym, .discipline {
    background: #b47877;
    padding: 1vw;
    height: 5vw;
    min-height: 20px;
    max-height: 40px;
   width: 10vw;
    min-width: 90px;
    max-width: 100px;
    margin: 1.5vw 1vw;
    text-overflow: center;
    color: #2b1619;
    align-items: center;
    cursor: grab;
    text-align: center;
    border-radius: 10px;
border: solid 0px;
box-shadow: 0 0 5px 3px #624a4a;

}

.target {
    width: 15vw;
 min-width: 100px;
    height: 5vw;
  min-height: 60px;
    border: 2px dashed gray;
    margin: 10px;
    background-color: #e4bcac;
    text-align: center;
   vertical-align: center;
   color: #2b1619;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
border: solid 0px;
box-shadow: 0 0 5px 3px #624a4a;
   
}

#comfy {
    margin: 2vw 0 3vw 0;
}
/*end of comfortable gym*/

/*max category*/
#max-fieldset {
    border-radius: 50% 20% / 10% 40%;
  
}

.invisible-button {
   display: none;
    float: left;
    clear: none; 
    margin-right: 2vw;
} 

.invisible-button:checked ~ label {
    color: rgb(98, 0, 255);
    clear: none;
  }

.change-div {
  text-align: center;
    clear: none;
}

  .change-div label {
    display: inline;
margin: 1rem;
     
}

  #easy-boulders
   {background-color: rgb(148, 238, 88);
   }

#medium-boulders
   {background-color: rgb(255, 196, 0);
}

#hard-boulders
   {background-color: rgb(248, 61, 61)
}

  input[type=radio] {
      clear: none;
      margin: 2px 5px 0 2px;
      width: auto;
    }
/*end of max category*/

#usual-boulders {
    background-color: #da9a97;
    text-align: center;
}

.usual-div {
text-align: center;
}

#usual-fieldset {
    border-radius:80% 30% / 50% 190%;
}


select {
   margin: 0 0 0 10;
   border: outset  #b47877;
   background-color: #f9e2d7;
}

#skalomag-fieldset {
    border-radius: 30% 10% / 90% 60%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 20px;
}

button{
    background-color: #f9e2d7;
    box-shadow: 3px 3px 5px 0px   #624a4a;
    margin: auto auto;
    display: block;
    border-radius: 15px;
}

.small-button {
    background-color: #f9e2d7;
    box-shadow: 3px 3px 5px 0px   #624a4a;
    display: inline-block;
    width: 10vw;
    min-width: 100px;
}
#index-button {
    width: 20vw;
    min-width: 10px;
    height: 5vw;
    min-height: 60px;
margin: 0 10px;
font-size: 1rem;
}
/*
 border-radius: 50% 20% / 10% 40%;
 border-radius: 70% 30% / 50% 140%;
 color: 
 #f9e2d7
 #e4bcac
 #da9a97
 #b47877
 #bcbcbc
 #785354
 #8c7271
 #2b1619
 #624a4a
 #5d5d5d
